<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Cake Details</h1>
   <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>

            <div class="card" style="width: 18rem;" class="mx-auto" style="width: 100px;">
                <img src="{{cake.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{cake.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Flavor:{{cake.flavour}}</li>
                  <li class="list-group-item">Price:{{cake.price}}</li>
                  <li class="list-group-item">Shape:{{cake.shape}}</li>
                  <li class="list-group-item">Weight{{cake.weight}}</li>
                  <li class="list-group-item">Layer:{{cake.layer}}</li>
                </ul>
              
              </div>
        <div class="col"></div>
    </div>
   </div>
</body>
</html>